body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
/*-- header section --*/
.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  justify-content: space-between;
}

.nav-panel {
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-link:hover,
.header-logo-link:focus {
  color: #404bbf;
}

.header-logo-link-studio {
  color: #2e2f42;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
  align-items: center;
  font-style: normal;
}

.contact-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/*-- hero-section --*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero .container {
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.main-header {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  transition: unset;
}

/*-- about-us-section --*/
.about-us .container {
}
.about-us li {
  display: flex;
}
.about-us-header {
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.about-us-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: calc((100% - 3 * 24) / 4);
}

.feature {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-- our-team --*/
.our-team {
  background-color: #f4f4fd;
}

.our-team .container {
  flex-direction: column;
}
.our-team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  /* width: 162px; */
  /* height: 40px; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.our-team-list {
  list-style-type: none;
  display: flex;
  column-gap: 24px;
}

.our-team-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: calc((100% - 3 * 24) / 4);
}

.employee-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.employee-position {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.employee-photo {
  margin-bottom: 32px;
}

/*-- our-portfolio-section --*/
.portfolio .container {
  display: flex;
  flex-direction: column;
}

.portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.our-portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-card {
  width: calc((100% - 3 * 24) / 4);
}

.portfolio-card-photo {
  margin-bottom: 32px;
}

.our-products {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-right: auto;
  margin-left: auto;
}

.product-type {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

/*-- footer-section --*/
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  row-gap: 17.5px;
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-link-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
